
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Background variants section start -->
<section id="bg-variants">
    <div class="row">
        <div class="col-12 mt-3 mb-1">

        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-sm-6 col-12">
            <a href="/Urun/Index">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-lg-4">
                                <img src="~/Content/app-assets/images/banner/restaurant.png" alt="element 01" class="h-100 w-100 rounded-left">
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="card-body">
                                    <p class="card-text text-ellipsis">
                                        Odalarınızdan gelen siparişlerinizi buradan takip edebilirsiniz.
                                    </p>
                                    <span><i class="bx bx-bell font-size-large align-middle mr-50"></i><strong>ROOM</strong> </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <a href="/AdminBildirim/ArizaBildirim">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-lg-4">
                                <img src="~/Content/app-assets/images/banner/arıza.png" alt="element 01" class="h-100 w-100 rounded-left">
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="card-body">
                                    <p class="card-text text-ellipsis">
                                        Müşterilerinizden gelen arıza bildirimlerinizi buradan görebilirsiniz.
                                    </p>
                                    <span><i class="bx bx-cog font-size-large align-middle mr-50"></i> <strong> REPAIR</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <a href="/AdminBildirim/HousekeepingBildirim">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-lg-4">
                                <img src="~/Content/app-assets/images/banner/house.png" alt="element 01" class="h-100 w-100 rounded-left">
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="card-body">
                                    <p class="card-text text-ellipsis">
                                        House Keeping için gelen istekleri buradan görebilirsiniz .
                                    </p>
                                    <span><i class="bx bx-brush font-size-large align-middle mr-50"></i><strong>HOUSE KEEPING</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <a href="/AdminBildirim/SpaBildirim">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-lg-4">
                                <img src="~/Content/app-assets/images/banner/s.png" alt="element 01" class="h-100 w-100 rounded-left">
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="card-body">
                                    <p class="card-text text-ellipsis">
                                        Müşterilerinizden gelen istekleri buradan görebilirsiniz.
                                    </p>
                                    <span><i class="bx bx-face font-size-large align-middle mr-50"></i><strong>SPA</strong></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <a href="/AdminBildirim/ActiviteBildirim">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-lg-4">
                                <img src="~/Content/app-assets/images/banner/activite.png" alt="element 01" class="h-100 w-100 rounded-left">
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="card-body">
                                    <p class="card-text text-ellipsis">
                                        Activite için gelen talep bildirimlerini buradan görebilirsiniz.
                                    </p>
                                    <span><i class="bx bx-run font-size-large align-middle mr-50"></i><strong>ACTIVITE</strong> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-sm-6 col-12">
            <a href="/AdminBildirim/ValeBildirim">
                <div class="card">
                    <div class="card-content">
                        <div class="row no-gutters">
                            <div class="col-md-12 col-lg-4">
                                <img src="~/Content/app-assets/images/banner/car.png" alt="element 01" class="h-100 w-100 rounded-left">
                            </div>
                            <div class="col-md-12 col-lg-8">
                                <div class="card-body">
                                    <p class="card-text text-ellipsis">
                                        Vale hizmeti taleplerini buradan görebilirsiniz.
                                    </p>
                                    <span><i class="bx bxs-car font-size-large align-middle mr-50"></i><strong>VALE</strong> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<section id="table-transactions-statistics">
    <div class="row match-height">
        <!-- table Transaction history start -->
        <div class="col-lg-5">
            <div class="card widget-notification">
                <div class="card-header border-bottom">
                    <h4 class="card-title d-flex align-items-center">
                        <i class='bx bx-bell font-medium-4 mr-1'></i>Wifi Mesajları
                    </h4>
                    <div class="heading-elements">
                        <button type="button" class="btn btn-sm btn-light-primary" onclick="DurumDegistir()">Tümünü Okundu İşaretle</button>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush">
                            @foreach (var item in ViewBag.WifiMesaj)
                            {
                                <li class="list-group-item list-group-item-action border-0 d-flex align-items-center justify-content-between">

                                    <div class="list-left d-flex">
                                        <div class="list-icon mr-1">
                                            <div class="avatar bg-rgba-primary m-0 p-25">
                                                <div class="avatar-content">
                                                    <i class="bx bx-message-alt text-primary font-medium-5"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content">
                                            <span class="list-title">@item.wifiText</span>
                                            <small class="text-muted d-block">@item.Date</small>
                                        </div>
                                    </div>

                                    <div class="form-control-radio">
                                        <input type="radio" class="form-control-input"  name="customRadio" id="customRadio1" checked>
                                        <label class="form-control-label" for="customRadio1">Okunmadı</label>
                                    </div>


                                </li>
                            }


                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- table Transaction history ends -->
        <!-- table table statistics start -->
        <div id="table-statistics" class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header border-bottom">
                    <h5 class="card-title">Statistics</h5>
                    <div class="heading-elements">
                        <ul class="list-inline">
                            <li class="mr-50"><i class="bx bxs-circle success font-small-1 mr-50"></i>Third </li>
                            <li class="mr-50"><i class="bx bxs-circle info font-small-1 mr-50"></i>Second </li>
                            <li class="mr-1"><i class="bx bxs-circle primary font-small-1 mr-50"></i>First </li>
                            <li><i class="bx bx-dots-horizontal-rounded font-medium-3 align-middle"></i></li>
                        </ul>
                    </div>
                </div>
                <!-- table start -->
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <tbody>
                            <tr>
                                <td class="w-25 pr-0">
                                    <div class="d-flex align-items-center text-bold-500">
                                        <img class="rounded-circle mr-1" src="~/Content/app-assets/images/portrait/small/avatar-s-1.jpg" alt="avatar" height="32" width="32">
                                        <div class="flex-content"> Steve White</div>
                                    </div>
                                </td>
                                <td class="w-75 pr-0">
                                    <div class="progress progress-bar-primary progress-sm mb-0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="80" aria-valuemax="100" style="width:50%;"></div>
                                    </div>
                                </td>
                                <td class="w-25">50%</td>
                            </tr>
                            <tr>
                                <td class="w-25 pr-0">
                                    <div class="d-flex align-items-center text-bold-500">
                                        <img class="rounded-circle mr-1" src="~/Content/app-assets/images/portrait/small/avatar-s-2.jpg" alt="avatar" height="32" width="32">
                                        <div class="flex-content">Ray Magnet</div>
                                    </div>
                                </td>
                                <td class="w-75 pr-0">
                                    <div class="progress progress-bar-success progress-sm mb-0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="80" aria-valuemax="100" style="width:10%;"></div>
                                    </div>
                                </td>
                                <td class="w-25">10%</td>
                            </tr>
                            <tr>
                                <td class="w-25 pr-0">
                                    <div class="d-flex align-items-center text-bold-500">
                                        <img class="rounded-circle mr-1" src="~/Content/app-assets/images/portrait/small/avatar-s-12.jpg" alt="avatar" height="32" width="32">
                                        <div class="flex-content"> Steve White</div>
                                    </div>
                                </td>
                                <td class="w-75 pr-0">
                                    <div class="progress progress-bar-warning progress-sm mb-0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="80" aria-valuemax="100" style="width:70%;"></div>
                                    </div>
                                </td>
                                <td class="w-25">70%</td>
                            </tr>
                            <tr>
                                <td class="w-25 pr-0">
                                    <div class="d-flex align-items-center text-bold-500">
                                        <img class="rounded-circle mr-1" src="~/Content/app-assets/images/portrait/small/avatar-s-10.jpg" alt="avatar" height="32" width="32">
                                        <div class="flex-content"> Markus Blind</div>
                                    </div>
                                </td>
                                <td class="w-75 pr-0">
                                    <div class="progress progress-bar-info progress-sm mb-0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="35" aria-valuemin="80" aria-valuemax="100" style="width:35%;"></div>
                                    </div>
                                </td>
                                <td class="w-25">35%</td>
                            </tr>
                            <tr>
                                <td class="w-25 pr-0">
                                    <div class="d-flex align-items-center text-bold-500">
                                        <img class="rounded-circle mr-1" src="~/Content/app-assets/images/portrait/small/avatar-s-10.jpg" alt="avatar" height="32" width="32">
                                        <div class="flex-content">jonny Blind</div>
                                    </div>
                                </td>
                                <td class="w-75 pr-0">
                                    <div class="progress progress-bar-danger progress-sm mb-0">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="80" aria-valuemax="100" style="width:55%;"></div>
                                    </div>
                                </td>
                                <td class="w-25">55%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- table end -->
            </div>
        </div>
        <!-- table table statistics ends -->
    </div>
</section>

